<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net47" />
  <package id="NuProj" version="0.11.30" targetFramework="net461" developmentDependency="true" />
  <package id="NuProj.Common" version="0.11.30" targetFramework="net461" developmentDependency="true" />
  <package id="Unlimitedinf.Apis" version="1.1.0" targetFramework="net47" />
  <package id="Unlimitedinf.Tools" version="3.2.3" targetFramework="net47" />
</packages>